target/
build/
nb-configuration.xml
.DS_Store
/.eclipseBuild
/.gradle
/js
/css
/jsp
/images
out/
.settings
.classpath
.project
.idea
*.iml
*.orig
/Users/
rebel.xml
framework/logs
/classes
logs/
*.swo
.*.swp
/bin
